body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #009fad;
    color: #333; /* テキスト色を暗めの色に変更してコントラストを確保 */
    padding: 1rem 0;
    text-align: center;
}

main {
    margin: 20px;
    flex: 1; /* フレックスグローを追加して残りのスペースを占めるようにする */
    padding: 20px;
    background-color: #FFFFFF; /* メインの背景は白で統一 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

h1 {
    color: #fff; /* 見出しの色を暗めにして読みやすさを確保 */
}
h2, h3 {
    color: #1b365d; /* 見出しの色を暗めにして読みやすさを確保 */
}

ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
}

p {
    text-align: justify;
}

pre {
    background-color: #98F4F4; /* コードブロックの背景に#98F4F4を使用 */
    padding: 10px;
    overflow-x: auto;
    border-radius: 5px;
}

footer {
    background-color: #009fad;
    color: #fff; /* フッターテキスト色を暗めの色に変更してコントラストを確保 */
    text-align: center;
    padding: 10px;
    
}

/* 追加部分：中央揃えと自動サイズ調整 */
.centered-image {
    display: block;
    margin: 0 auto; /* 中央揃え */
    max-width: 60%; /* 幅最大100% */
    height: auto; /* 高さは自動で維持 */
}


pre {
    position: relative;
    padding-left: 3em; /* 左側に行番号スペースを確保 */
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto; /* 横スクロールを許可 */
    white-space: pre-wrap; /* 折り返し */
    counter-reset: line-number; /* 行番号カウンターをリセット */
}

code {
    display: block;
    font-family: 'Source Code Pro', monospace;
    color: #333;
}

.line-numbers code {
    position: relative;
}

.line-numbers code::before {
    position: absolute;
    left: -3em; /* 行番号の位置 */
    width: 3em;
    text-align: right; /* 行番号を右寄せ */
    content: counter(line-number);
    counter-increment: line-number; /* 行カウンターを増やす */
    color: #999;
}

/* 各行の設定 */
pre code::before {
    display: block;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}
